@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --text: rgb(14, 16, 22);
    --background: rgb(249, 249, 251);
    --primary: rgb(97, 117, 158);
    --secondary: rgb(214, 219, 230);
    --accent: rgb(91, 112, 149);
    --green: rgb(88, 175, 60);
    --red: rgb(237, 86, 86);
    --yellow:rgb(229, 215, 95);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}
html{
    overflow-x: hidden;
}
.bx{
    font-size: 1.7rem;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

body.dark{
    --text: rgb(233, 235, 241);
    --background: rgb(4, 4, 6);
    --secondary: rgb(25, 30, 41);
    --accent: rgb(106, 127, 164);
}

body{
    background: var(--secondary);
    color: var(--text);
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--background);
    width: 230px;
    height: 100%;
    z-index: 1000;
    transition: all 0.3s ease;
    overflow-x: hidden;
    scrollbar-width: none;
}
.sidebar.closed{
    width: 60px;
}
.sidebar .logo{
    font-size: 1.5rem;
    font-weight: 700;
    height: 4rem;
    display: flex;
    align-items: center;
    color: var(--primary);
    z-index: 500;
    padding-bottom: 1rem;
    box-sizing: content-box;
}
.sidebar .logo .bx{
    font-size: 2.2rem;
    min-width: 60px;
    display: flex;
    justify-content: center;
}
.sidebar .sidebar-items{
    width: 100%;
    margin-top: 3rem;
}
.sidebar .sidebar-items li{
    height: 3rem;
    background: transparent;
    margin-left: 6px;
    border-radius: 3rem 0 0 3rem;
    padding: 4px;
}
.sidebar .sidebar-items li.active{
    background: var(--secondary);
    position: relative;
}
.sidebar .sidebar-items li.active::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--secondary);
    z-index: -1;
}
.sidebar .sidebar-items li.active::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--secondary);
    z-index: -1;
}
.sidebar .sidebar-items li a{
    width: 100%;
    height: 100%;
    background: var(--background);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--text);
    white-space: nowrap;
    overflow-x: hidden;
    transition: all 0.3s ease;
}
.sidebar .sidebar-items li.active a{
    color: var(--green);
}
.sidebar.closed .sidebar-items li a{
    width: calc(48px - (4px*2));
    transition: all 0.3s ease;
}
.sidebar .sidebar-items li a .bx{
    min-width: calc(60px - ((4px+6px)*2));
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
    padding: 0 7px;
}
.sidebar .sidebar-items li a.logout{
    color: var(--red);
}

.main{
    position: relative;
    width: calc(100vw - 230px);
    left:230px;
    transition: all 0.3s ease;
}
.sidebar.closed~.main{
    width: calc(100vw - 60px);
    left: 60px;
}
.main nav{
    height: 56px;
    background-color: var(--background);
    padding: 0 24px 0 0;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}
.main nav::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--background);
}
.main nav a{
    color: var(--text);
}
.main nav .bx.bx-menu{
    cursor: pointer;
    color: var(--text)
}
.main nav form{
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}
.main nav form{
    display: flex;
    align-items: center;
    height: 36px;
}
.main nav form input{
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    width: 100%;
    border: none;
    background: var(--secondary);
    color: var(--text);
    border-radius: 36px 0 0 36px;
    outline: none;
}
.main nav form button{
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    color: var(--background);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}
.main nav .notification{
    font-size: 20px;
    position: relative;
}
.main nav .notification .count{
    position: absolute;
    top:-6px;
    right: -6px;
    width: 20px;
    height: 20px;
    background: var(--red);
    border-radius: 50%;
    color: var(--background);
    border: 2px solid var(--background);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main nav .profile img{
    height: 36px;
    width: 36px;
    object-fit: cover;
    border-radius: 50%;
}
.main nav .theme-toggle{
    display: block;
    min-width: 50px;
    height: 25px;
    background: var(--secondary);
    cursor: pointer;
    position: relative;
    border-radius: 25px;
}
.main nav .theme-toggle::before{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: var(--primary);
    border-radius: 50%;
    transition: all 0.3s ease;
}
.main nav #theme-toggle:checked+.theme-toggle::before{
    left: calc(100% - (25px - 4px) - 2px);
}

.content{
    width: 100%;
    padding: 36px 24px;
    max-height: calc(100vh - 56px);
}
.content .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
}
.content .header .top-left h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--text);
}
.content .header .top-left ul{
    display: flex;
    align-items: center;
    grid-gap: 16px;
}
.content .header .top-left ul li{
    color: var(--text);
}
.content .header .top-left ul li a{
    color: var(--text);
    pointer-events: none;
}
.content .header .top-left ul li a.active{
    color: var(--primary);
    pointer-events: none;
}
.content .header .header-button{
    display: flex;
    flex-direction: row;
    gap: 8px
}
.content .header .header-button li a{
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--primary);
    color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    font-weight: 500;
}
.content .languages{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
}
.content .languages li{
    padding: 24px;
    background: var(--background);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 24px;
    cursor: pointer;
}
.content .languages li .bx{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content .languages li:nth-child(1) .bx{
    background: var(--secondary);
    color: var(--primary);
}
.content .languages li:nth-child(2) .bx{
    background: var(--secondary);
    color: var(--primary);
}
.content .languages li:nth-child(3) .bx{
    background: var(--secondary);
    color: var(--primary);
}
.content .languages li:nth-child(4) .bx{
    background: var(--secondary);
    color: var(--primary);
}
.content .languages li:nth-child(5) .bx{
    background: var(--secondary);
    color: var(--primary);
}
.content .languages li:nth-child(6) .bx{
    background: var(--secondary);
    color: var(--primary);
}
.content .languages span{
    color: var(--text);
}

.content .content-data{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}
.content-data>div{
    border-radius: 20px;
    background: var(--background);
    padding: 24px;
    overflow-x: auto;
}
.content-data .projects .header{
    display: flex;
    align-items: center;
    justify-content: left;
    grid-gap: 16px;
    margin-bottom: 24px;
}
.content-data .header h3{
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}
.content-data .header .bx{
    cursor: pointer;
}
.content-data .projects{
    flex-grow: 1;
    flex-basis: 500px;
}
.content-data .projects table{
    width: 100%;
    border-collapse: collapse;
}
.content-data .projects table th{
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--secondary);
}
.content-data .projects table td{
    padding: 16px 0;
}
.content-data .projects table tbody tr{
    cursor: pointer;
    transition: all 0.3s ease;
}
.content-data .projects table tbody tr td:first-child{
    padding-left: 6px;
}
.content-data .projects table tbody tr:hover{
    background: var(--secondary); 
}
.content-data .projects table tbody td .status{
    font-size: 10px;
    padding: 6px 16px;
    color: var(--background);
    border-radius: 20px;
    font-weight: 700;
}
.content-data .projects table tbody td .status.completed{
    background: var(--green);
}
.content-data .projects table tbody td .status.ongoing{
    background: var(--yellow);
}
.content-data .projects table tbody td .status.upcoming{
    background: var(--red);
}

.content-data .goals{
    flex-grow: 1;
    flex-basis: 300px;
}
.content-data .goals .header{
    display: flex;
    align-items: center;
    justify-content: left;
    grid-gap: 16px;
    margin-bottom: 24px;
}
.content-data .goals ul{
    width: 100;
}
.content-data .goals ul li{    width: 100%;
    margin-bottom: 16px;
    background: var(--secondary);
    padding: 14px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-data .goals ul li .goal{
    display: flex;
    align-items: center;
}
.content-data .goals ul li .goal p{
    margin-left: 6px;
}
.content-data .goals ul li .bx{
    cursor: pointer;
}
.content-data .goals ul li.complete{
    border-left: 10px solid var(--green);
}
.content-data .goals ul li.incomplete{
    border-left: 10px solid var(--red);
}

@media screen and (max-width: 768px) {
    .sidebar{
        width: 200px;
    }
    .main{
        width: calc(100vw - 60px);
        left: 200px;
    }
}


@media screen and (max-width: 576px) {
    .main nav form .search-field{
        display: none;
    }
    .main nav form .search-btn{
        width: auto;
        height: auto;
        background: transparent;
        color: var(--text);
        border-radius: none;
    }
    .main nav form.show .search-field{
        display: block;
        width: 100%;
    }
    .main nav form.show .search-btn{
        width: 36px;
        height: 100%;
        color: var(--background);
        background: var(--red);
        border-radius: 0 36px 36px 0;
    }
    .main nav form.show~.notification, .content nav form.show~.profile{
        display: none;
    }
    .content .languages {
        grid-template-columns: 1fr;
    }
    .content .header{
        min-width: 340px;
    }
    .content .projects table{
        min-width: 340px;
    }
    .content .goals ul{
        min-width: 340px;
    }
}